<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <div class="footer-agileits" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-0 footer-left-agile">
                    <h1><a href="#">Adore</a></h1>
                    <p>Integer porttitor elit sit amet ullamcorper venenatis. Suspendisse in ornare magna, vitae
                        scelerisque
                        lectus. Proin lacus tellus, tincidunt sed sem quis</p>
                </div>
                <div class="col-4  footer-middle-agileits">
                    <h3>Address</h3>
                    <ul>
                        <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
                        <li>345 Setwant natrer,Washington. United States</li>
                    </ul>
                    <ul class="gap">
                        <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
                        <li>+18044268943</li>
                    </ul>
                    <ul>
                        <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></li>
                        <li><a href="mailto:info@example.com">example@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-4 footer-right">
                    <h3>Contact</h3>
                    <form action="#" method="post">
                        <input type="text" name="Name" value="Name" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Name';}" required="">
                        <input type="text" name="Email" value="Email" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Email';}" required="">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="copy-agileits">
        <div class="container text-center">
            <p>© 2016 Adore. All Rights Reserved | Design by <a href="">DVD</a></p>
        </div>
    </div>
</div>