<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <title>Bootstrap Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- link css -->
    <link rel="stylesheet" th:href="@{/css/header.css}" href="../static/css/header.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../static/css/footer.css">
    <link rel="stylesheet" th:href="@{/css/gio_hang.css}" href="../static/css/gio_hang.css">

</head>

<body>
    <!-- header -->
    <div class="header" th:include="Layout/header::header"></div>
    <!-- end header -->


<!-- main  -->
    <div class="main container">
        <div class="row">
            <div class="col-12">
                <div class="title_khung">
                    <h3>GIỎ HÀNG</h3>
                </div>
                <div class="content_khung">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">TÊN SẢN PHẨM</th>
                                <th scope="col">HÌNH ẢNH</th>
                                <th scope="col">GIÁ</th>
                                <th scope="col">SỐ LƯỢNG</th>
                                <th scope="col">THÀNH TIỀN</th>
                                <th scope="col">ACTIVE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  th:each="item : ${GioHang}">
                                <td scope="row">
                                    <h4 th:text="${item.id}">1</h4>
                                </td>
                                <td>
                                    <h4>
                                        <a th:href="@{'/chi-tiet/'+ ${item.sanPham.id}}" th:text="${item.sanPham.name}">Tên sản phẩm</a>
                                    </h4>
                                </td>
                                <td style="width: 110px;height: 95px;">
                                    <img src="../img/sp_2.jpg" th:src="@{'/img/san_pham/'+${item.sanPham.img}}">
                                </td>
                                <td>
                                    <h4  th:text="${item.sanPham.giaTien - item.sanPham.giaTien * item.sanPham.sale / 100 } + ' VNĐ'">3000</h4>
                                </td>
                                <td>
                                    <h4 th:text="${item.soLuong}">1</h4>
                                </td>
                                <td>
                                    <h4 th:text="${item.tongTien}+ ' VNĐ'">3000</h4>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a th:href="@{'/chi-tiet/'+ ${item.sanPham.id}}" class="btn btn-success">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a th:href="@{'/gio-hang/xoa/'+ ${item.id}}" class="btn btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="row" th:if="${TongTien != 0}">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <div class="khung_tien">
                                <div class="d-flex justify-content-between">
                                    <h4><b>Tổng thanh toán:</b></h4>
                                    <h4 th:text="${TongTien}">1000.000 đ</h4>
                                </div>
                                <button data-toggle="modal" data-target=".bd-example-modal-lg"
                                        class="btn button_v1 btn-block">
                                    Xác nhận đặt hàng
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end main  -->

    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4><b>Thông tin đặt hàng</b></h4>
                    <div class="row">
                        <div class="col-5">
                            <img src="img/san_pham/sp_1.jpg" style="height: 80%;" class="pb-2">
                            <span>
                                Bạn vui lòng nhập đúng thông tin đặt hàng gồm: Họ tên, SĐT, Email, Địa chỉ để chúng tôi
                                được phục vụ bạn tốt nhất !
                            </span>
                        </div>
                        <div class="col-7">
                            <form th:action="@{/hoa-don}" method="post">
                                <div class="form-group">
                                    <b>Họ tên của bạn:</b>
                                    <input type="text" class="form-control" placeholder="Họ tên của bạn" name="hoTen">
                                </div>
                                <div class="form-group">
                                    <b>Số điện thoại:</b>
                                    <input type="text" class="form-control" placeholder="Số điện thoại" name="soDT">
                                </div>
                                <div class="form-group">
                                    <b>Email:</b>
                                    <input type="text" class="form-control" placeholder="Email" name="email">
                                </div>
                                <div class="form-group">
                                    <b>Địa chỉ nhận hàng:</b>
                                    <input type="text" class="form-control" placeholder="Địa chỉ nhận hàng" name="diaChi">
                                </div>
                                <div class="form-group">
                                    <b>Ghi chú:</b>
                                    <textarea class="form-control" rows="3"
                                              placeholder="Ghi chú chi tiết đơn hàng" name="ghiChu"></textarea>
                                </div>
                                <button type="submit" class="btn button_v1 btn-block">
                                    Đặt hàng
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer  -->
    <div th:include="Layout/footer::footer"></div>
    <!-- end footer  -->

</body>

</html>